.leftside {
    background: #2F5AE9;
    width: 300px;
    position: fixed;
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}

.leftside a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: underline;
}
.main {
  margin-left: 700px;
  padding: 20px 20px;
  height: 100%;
  width: 400px;
  font-size: 16px;
}
.main1 {
  margin: 0px;
  font-size: 14px;
}
body {
    background-color: #FFFFF;
    margin-left: 0px;
}