.sidebar {
    background: #2F5AE9;
    width: 300px;
    position: fixed;
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: underline;
}
body {
    background-color: #FFFFF;
    margin: 0px;
}