.leftside {
    background: #D9D8D8;
    width: 280px;
    position: fixed;
    font-family: Bold;
    font-size: 18px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
}
.leftside a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: underline;
}
.main {
  margin-left: 200px;
  padding: 20px 20px;
  font-family: Bold;
  font-size: 18px;
  max-width: 100%;
}
.main1 {
  max-width: 100%;
  padding-top: 20px;
  font-family: Bold;
  font-size: 18px;
}
body{
  background: url(/assets/img/doska3.jpg);
}
