<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta charset = "utf-8">
    <link rel = "stylesheet" href="/facing/css/style.css">
</head>
<body>
<!-- left sidebar -->
<br class="sidebar">
    <img src="/facing/img/fon1.png" align="center">
    <div th:each="list: ${lists}">
        <a th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>
    </div>
    <br>
    <a th:href="@{/addlist}">Add new message</a>
</div>
</body>
</html>