<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes</title>
    <meta charset = "utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>
<body>
<!-- left sidebar -->
<div class="leftside">
    <img src="/assets/img/fon3.png" align="center" width="300" height="250">
    <div th:each="list: ${lists}">
        <a th:href="@{/list/{id}(id=${list.getId()})}" th:utext="${list.getName()}"></a>
    </div>
    <a th:href="@{/addlist}"><img src="/assets/img/plus3.png" align="center" width="20" height="20"></a>
</div>
<!-- content -->
<div class="main" align="center">
    <h1 th:utext="${currentList.getName()}"></h1>
    <form action="#" th:action="@{/list/{id}/delete (id=${currentList.getId()})}">
        <button type="submit" class="btn btn-outline-danger"><img src="/assets/img/del1.png" align="center" width="20" height="20"></button>
    </form>
    <div th:each="issue: ${issues}">
        <input type="checkbox">
        <label th:utext="${issue.getTitle()}"></label>
    </div>
    <form action="#" th:action="@{/list/addissue}" method="post" >
        <input type="text" name="title">
        <input type="hidden" name="parent_id" th:value="${currentList.getId()}">
        <button type="submit" class="btn btn-outline-success"><img src="/assets/img/change.png" align="center" width="20" height="20"></button>
    </form>
</div>
</body>
</html>